<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="mappingResources">
			<list>
				<value>com/fsalliance/core/po/TabUser.hbm.xml</value>
				<value>/WEB-INF/spring-bo.xml</value>
			</list>
		</property>
	</bean>
	<bean id="TabUserDAO" class="com.fsalliance.core.po.TabUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TabFileDAO" class="com.fsalliance.core.po.TabFileDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="TabComputerDAO"
		class="com.fsalliance.core.po.TabComputerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="TabIpDAO" class="com.fsalliance.core.po.TabIpDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="TabUserAlipayDAO"
		class="com.fsalliance.core.po.TabUserAlipayDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TabIncomeRecordDAO"
		class="com.fsalliance.core.po.TabIncomeRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TabCashRecordDAO"
		class="com.fsalliance.core.po.TabCashRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TabSystemInfoDAO"
		class="com.fsalliance.core.po.TabSystemInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TabOrderDAO" class="com.fsalliance.core.po.TabOrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>